<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">

<!--게시글 등록-->
    <insert id="save" parameterType="board" useGeneratedKeys="true" keyProperty="id"><!--mybatis-config.xml BoardDTO alias를 board로 지정했음-->
        INSERT INTO board_table
         ( boardTitle
         , boardWriter
         , boardPass
         , boardContents
         , fileAttached
         )
        VALUES
         ( #{boardTitle}
         , #{boardWriter}
         , #{boardPass}
         , #{boardContents}
         , #{fileAttached}
        )
    </insert>


<!--게시판 목록-->
    <select id="findAll" resultType="board">
        SELECT id
             , boardTitle
             , boardWriter
             , boardHits
             , date_format(createdAt, "%Y-%m-%d") as createdAt
        FROM board_table
        ORDER BY id DESC
    </select>

<!--게시글 단건조회-->
    <select id="findById" resultType="board" parameterType="Long">
        SELECT id
             , boardPass
             , boardTitle
             , boardWriter
             , boardContents
             , boardHits
             , date_format(createdAt, "%Y-%m-%d %H:%i:%s") as createdAt
             , fileAttached
        FROM board_table
        WHERE id = #{id};
    </select>
    <!--조회수 증가-->
    <update id="updateHits" parameterType="Long">
        UPDATE board_table
        SET boardHits = boardHits + 1
        WHERE id = #{id}
    </update>

<!--게시글 수정-->
    <update id="update" parameterType="board">
        UPDATE board_table
        SET boardTitle = #{boardTitle}
          , boardContents = #{boardContents}
        WHERE id = #{id}
    </update>

<!--게시글 삭제-->
    <delete id="delete" parameterType="Long">
        DELETE FROM board_table
        WHERE id = #{id}
    </delete>


<!--== 파일 첨부 관련 ========== -->
    <!--파일 첨부-->
    <insert id="saveFile" parameterType="boardFile"><!--mybatis-config.xml에서 BoardFileDTO alias를 boardFile로 지정-->
        INSERT INTO board_file_table
        ( originalFileName
        , storedFileName
        , boardId
        )
        VALUES
        ( #{originalFileName}
        , #{storedFileName}
        , #{boardId}
        )
    </insert>

    <!--파일 조회-->
    <select id="findFile" parameterType="Long" resultType="boardFile">
        SELECT *
        FROM board_file_table
        WHERE boardId = #{id}
    </select>

</mapper>